.login,
.register {
    width: 100%;
    height: 100%;
    background: url("../../assets/images/login/login_bg@2x.png") center center no-repeat;
    background-size: cover;

    .login-form-wrapper {
        width: 522 / 32rem;
        height: 452 / 32rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        background: url("../../assets/images/login/login_form@2x.png") center center no-repeat;
        background-size: contain;

        .login-form-content {
            padding: 20/32rem 44/32rem;

            .form-item {
                margin-top: 1rem;

                input {
                    text-align: center;
                    width: calc(100% - 2rem);
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 54/32rem;
                    background-color: #110d0b;
                }
            }

        }
    }

}